.analytics {
    padding: 117px 0 123px 0;
    background-image: url(../img/analytics/analytics-bg.png);
    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin-top: 0;
            text-align: left;
            line-height: 1.2;
        }
        p {
            margin-bottom: 54px;
        }
        div {
            flex-basis: 50%;
        }
    }
}