.app {
    padding: 69px 0 82px 0;
    .wrap {
        display: flex;
        position: relative;
        .intro {
            font-size: 300px;
            color: rgba(0,0,0,0.04);
            font-weight: 900;
            line-height: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 40px;
            text-align: center;
            margin: 0;
        }
        a {
            img {
                width: 100%;
            }
        }
    }
    &-text {
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #c4d2dd;
        letter-spacing: 3.2px;
    }
    &-list {
        padding: 0;
        list-style-type: none;
        display: flex;
        li:first-child {
            margin-right: 30px;
        }
    }
    &-content {
        p {
            margin-bottom: 37px;
            color: #7581a1;
        }
        width: 55%;
        h2 {
            margin-bottom: 20px;
            text-align: left;
            line-height: 1.2;
        }
    }
}