footer {
    background-color: #192b59;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-left {
            p {
                a {
                    text-transform: uppercase;
                    color: $colorBlue;
                }
            }
        }
        .footer-right {
            display: flex;
            justify-content: space-between;
            width: 200px;
            &-soc {
                a {
                    color: #b6bae0;
                    i {
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
                    
            }
        }
    }
}