.grid {
    padding: 120px 0;
    &-page {
        display: grid;
        grid-template-areas: "a b c" 
                            "d b c" 
                            "d f g"
                            "e f g"
                            "e h h";
        max-width: 1110px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 28px;
        padding: 15px;
        h2 {
            text-align: left;
            line-height: 1.2;
        }
        &-item {
            box-shadow: 0 0 5px #f4f4f4;
            text-align: center;
            padding: 40px 29px 69px;
            h3 {
                margin-bottom: 18px;
            }
            .grid-icon {
                display: block;
                background-repeat: no-repeat;
                margin: 0 auto 36px;
            }
            .grid-icon1 {
                background-image: url(../img/grid/grid1.png);
                width: 73px;
                height: 79px;
            }
            .grid-icon2 {
                background-image: url(../img/grid/grid2.png);
                width: 89px;
                height: 85px;
            }
            .grid-icon3 {
                background-image: url(../img/grid/grid3.png);
                width: 79px;
                height: 82px;
            }
            .grid-icon4 {
                background-image: url(../img/grid/grid4.png);
                width: 85px;
                height: 90px;
            }
            .grid-icon5 {
                background-image: url(../img/grid/grid5.png);
                width: 100px;
                height: 87px;
            }
            .grid-icon6 {
                background-image: url(../img/grid/grid6.png);
                width: 103px;
                height: 92px;
            }
        }
        &-title {
            grid-area: a;
        }
        &-item1 {
            grid-area: b;
        }
        &-item2 {
            grid-area: c;
        }
        &-item3 {
            grid-area: d;
        }
        &-item4 {
            grid-area: e;
        }
        &-item5 {
            grid-area: f;
        }
        &-item6 {
            grid-area: g;
        }
        .grid-text {
            grid-area: h;
            p:last-child {
                color: $colorBlue;
                span {
                    color: black;
                    font-weight: 800;
                }
            }
        }
    }
}