.team {
    padding-top: 240px;
    padding-bottom: 120px;
    text-align: center;
    background-image: url(../img/team/team-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    .wrap {
        h2 {
            color: #ffffff;
            span {
                color: #85c8ff;
            }
        }
    }

    &-box {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
        &-item {
            position: relative;
            padding: 192px 0 50px 0;
            background-color: #fff;
            flex-basis: 31.5%;
            box-shadow: 0 9px 20px #888;
            .avatar {
                position: absolute;
                top: -86px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            .pos {
                font-size: 14px;
                text-transform: uppercase;
                color: $colorBlue;
                font-weight: 900;
                margin-bottom: 0;
                letter-spacing: 2.1px;
            }
            .name {
                margin-top: 8px;
                font-size: 26px;
                font-weight: 600;
                color: $colorDark;
                letter-spacing: 0.9px;

            }
            .btn-more {
                background-color:#f3f3f3;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                width: 50px;
                height: 50px;	
                margin: 0 auto;
                padding: 0;
                border: 0;
                color: #a1aecf;
                transition: 0.3s;
                cursor: pointer;
                &:hover, &:focus {
                    outline: none;
                    background: #1a88e1;
                    color: #fff;
                }
                span {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    transition: 0.3s;
                    i {
                        line-height: 50px;
                        width: 100%;
                        transition: 0.3s;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            .btn-team {
                display: block;
                padding: 0;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                background-color: #f3f3f3;
                border-radius: 100%;
                transition: 0.3s;
                &:hover {
                    background-color: $colorBlue;;
                }
            }

            .team-social {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                padding-left: 40px;
                padding-right: 40px;
                margin: 0;
            }
        }
    }
}
