.form {
    padding: 70px 0 121px;
    background-image: url(../img/form/form-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-contact {
        display: flex;
        flex-direction: column;
        textarea {
            min-height: 160px;
            resize: none;
        }
        input, textarea {
            font-size: 14px;
            border: 2px solid #dce4ec;
            padding: 26px 80px 26px 37px;
            border-radius: 35px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
        }
        &-item {
            position: relative;
            margin-bottom: 19px;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: 35px;
            }
        }
        &-name::after {
            top: calc(50% - 7px);
            background-image: url(../img/form/form-user.png);
            width: 13px;
            height: 15px;
        }
        &-mail::after {
            top: calc(50% - 7px);
            background-image: url(../img/form/form-message.png);
            background-repeat: no-repeat;
            width: 14px;
            height: 11px;
        }
        &-pen::after {
            top: 25px;
            background-image: url(../img/form/form-pen.png);
            width: 14px;
            height: 15px;
        }
        .btn-blue {
            position: relative;
            max-width: 232px;
            &::before {
                content: "\f1d8";
                font-family: "Font Awesome 5 Free"; font-weight: 900; 
                display: block;
                position: absolute;
                left: 50px;
            }
        }
    }
    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1110px;
        margin: 0 auto;
        h2 {
            text-align: left;
            line-height: 1.2;
        }
        div {
            flex-basis: 50%;
        }
    }
}