.plans {
    padding-top: 100px;
    &-price {
        display: flex;
        justify-content: space-between;
        text-align: center;
        &-item {
            padding: 79px 56px 80px 56px;
            background-color: #edf4fb;
            flex-basis: 21%;
            h3 {
                margin: 0;
                color: #000958;
                font-size: 70px;
                letter-spacing: 2.8px;
                span {
                    font-size: 20px;
                    font-weight: 800;
                }
            }
            strong {
                color: #0084ff;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 40px;
                li {
                    color: #8085b1;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 40px;
                }
            }
        }
        .active {
            background-color: #192b59;
            color: #ffffff;
            h3 {
                margin: 0;
                color: #ffffff;
            }
            ul {
                li {
                    color: #ffffff;
                }
            }
        }
    }
}